[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}
python-dotenv = "*"
asyncpg = "*"
runware = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
